<h1 class="text-center text-white m-3">Your mails</h1>

<div class='container'>


  <h2 class="text-center text-white m-3">Advertisement</h2>

<% @messages.each do |message| %>
  <div class='mail-card mx-auto'>
    <div class='row d-flex p-3 justify-content-around'>
      <div class='col-2 my-auto big-checkbox'>
        <input type="checkbox" id="mail_checkbox" name="check">
      </div>

      <div class='col-4 my-auto'>
        <h4><%= message.from %></h4>
        <div class='label-box d-flex mx-auto'>
            <% message.labels.each do |label| %>
              <div class='label'><%= label.name %></div>
            <% end %>
        </div>
      </div>

      <div class="col-4 my-auto">
        <h5><strong>Subject: <%= message.subject %></strong></h5>
        <h5><%= message.snippet %>.. <br><strong><%= link_to "see more", message_path(message), class: "text-decoration-none m-1" %></strong></h5>
      </div>

      <div class="col-2 my-auto">

        <h5><strong>Received on: </strong><br><%= message.date_at %></h5>

      </div>

    </div>
  </div>
<% end %>
