<%= form_with(url: batch_action_messages_path, method: :delete, id: "messages_form") do |f| %>
  <div class="header sticky-top mb-3">
    <h1 class="text-center m-3">
      <% if params.key? :sender_domain %>
        Your mails from <%= params[:sender_domain] %>
      <% else %>
        All messages
      <% end %>
    </h1>
    <div class="d-flex justify-content-around">
      <%#= f.submit "Select All", class: 'btns text-white pl-5 pr-5 mb-3' %>
      <%= f.submit "Mark as read", class: 'btn btn-warning text-white btn-lg disabled pl-5 pr-5 mb-3' %>
      <%= f.submit "Delete", class: 'btn btn-warning text-white btn-lg disabled pl-5 pr-5 mb-3' %>

    </div>
  </div>


  <div class='container'>
    <%= link_to "Select All", messages_path, class: 'selectall btn btn-secondary text-white btn-sm pl-5 pr-5 m-4'%>

    <% @data.each do |sender_domain, senders| %>

      <% senders.each do |sender, names| %>
        <% names.each do |name, messages| %>
          <% messages.each do |message| %>

          <div class='row mail-card m-4'>

            <div class='col-1 big-checkbox'>
              <input type="checkbox" name="ids[]" value="<%= message.id %>">
            </div>

            <div class="main-div col-11 semi-big-div">

              <div class="row message-content justify-content-between p-4">
                <p><strong>Subject: <%= message.subject %></strong></p>
                <p><%= message.snippet %></p>
              </div>

              <div class='row'>
                <div class="sender-content col-8 p-4 d-flex">
                  <i class="far fa-user pr-3 pt-2" style="color:#808080;"></i>
                  <div>
                    <p><%= message.from %><br>
                    <%= message.name %> / <%= message.sender %></p>
                  </div>
                </div>

                <div class="date-content col-4 p-4 d-flex">
                  <i class="far fa-calendar-alt pr-3 pt-2"></i>
                  <p><strong>Received on: </strong><br><%= message.date_at %></p>
                </div>
              </div>

            </div>
          </div>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
