<%= form_with(url: batch_action_messages_path, method: :delete, id: "messages_form") do |f| %>
  <div class="header sticky-top mb-3">
    <h1 class="text-center pt-5 mb-4 h1index">
      <% if params.key? :sender_domain %>
        Your mails from <%= params[:sender_domain] %>
      <% else %>
        All messages
      <% end %>
    </h1>
    <div class="d-flex justify-content-center">
      <%= f.submit "Mark as read", class: 'btn-action btn btn-lg disabled pl-4 pr-4 mr-5 mb-3' %>
      <%= f.submit "Delete", class: 'btn-action btn btn-lg disabled pl-5 pr-5 mb-3' %>

    </div>
  </div>


  <div class='container'>
    <%= link_to "Select All", messages_path, class: 'selectall btn text-white pl-3 pr-3 m-4'%>
    <% @data.each do |sender_domain, senders| %>
      <% senders.each do |sender, names| %>
        <% names.each do |name, messages| %>
          <% name %>
          <% messages.each do |message| %>

          <div class='row mail-card m-4'>
            <div class='col-1 big-checkbox'>
              <input class="check" type="checkbox" name="ids[]" value="<%= message.id %>">
            </div>

            <div class="main-div col-11 semi-big-div">




              <div class="row message-content justify-content-between p-4">
                <h1><strong>Subject: <%= message.subject %></strong></h1>
                <p><% message.labels.each do |label| %>
                    <span style="background: <%= label_background_color(label)%>;
                                color: <%= label_text_color(label)%>;
                                border-radius: 4px;
                                padding: 0 4px 0 4px;
                                margin: 0 10px 0 0;">
                      <%= label_name(label) %>
                    </span>
                  <% end %>
                </p>
                <p><%= message.snippet %>...</p>
              </div>

              <div class='row d-flex my-auto'>
                <div class="sender-content col-8 p-4 d-flex">
                  <i class="far fa-user text-white my-auto fa-4x pr-4"></i>
                  <div class="sender">
                    <h4><%= message.name %></h4>
                    <p><%= message.sender %>@<%= message.sender_domain %><p>
                  </div>
                </div>

                <div class="date-content col-4 p-4 d-flex">
                  <i class="far fa-calendar-alt fa-4x my-auto pr-4"></i>
                  <p><%= I18n.l message.date_at, format: :short %></p>
                </div>
              </div>

            </div>
          </div>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
