<h1>Main senders</h1>


<div class="main-container">
  <div class="courses-container">
    <% @messages.each do |message| %>
      <div class="course">
        <div class="course-preview">
          <h4><%= message.sender_email %></h4>
          <%= link_to "see more", message_path(message), class: "btn btn-info" %>
        </div>
          <div class="course-info">
            <h2><%= message.content %></h2>
              <p><%= message.content %></p>
          <% message.labels.each do |label| %>
            <div class="block">
              <p>
                <%= label.name %>
              </p>
          </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>






      </div>
      <h6>Received : 08/06/2021</h6>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <button class="btn">Promotion</button>
      <button class="btn">Advertise</button>
    </div>
