<%= form_with(url: batch_action_messages_path, method: :delete) do |f| %>
  <div class="header sticky-top mb-3">
    <h1 class="text-center m-3">
      <% if params.key? :sender_domain %>
        Your mails from <%= params[:sender_domain] %>
      <% else %>
        Tous les messages
      <% end %>
    </h1>
    <div class="d-flex justify-content-around">
      <%= f.submit "Mark as read", class: 'btn yellowbtn text-white pl-5 pr-5 mb-3' %>
      <%= f.submit "Delete", class: 'btn yellowbtn text-white pl-5 pr-5 mb-3' %>
    </div>
  </div>


  <div class='container'>
  <%# ici %>
    <% @data.each do |sender_domain, senders| %>
      <h2>Sender : <%= sender_domain %></h2>
      <% senders.each do |sender, names| %>
        <h4>Genre : <%= sender %></h4>
        <% names.each do |name, messages| %>
          <p><%= name %></p>
          <% messages.each do |message| %>

          <div class='row mail-card'>

            <div class='col-1 big-checkbox'>
              <input type="checkbox" name="ids[]" value="<%= message.id %>">
            </div>

            <div class="col-11 semi-big-div bg-light">

              <div class="row message-content justify-content-between p-4">
                <p><strong>Subject: <%= message.subject %></strong></p>
                <p><%= message.snippet %></p>
              </div>

              <div class='row'>
                <div class="sender-content col-8 p-4 d-flex">
                  <i class="far fa-user"></i>
                  <div>
                    <p><%= message.from %></p>
                    <p><%= message.name %> / <%= message.sender %></p>
                  </div>
                </div>

                <div class="date-content col-4 text-center p-4 d-flex">
                  <i class="far fa-calendar-alt"></i>
                  <p><strong>Received on: </strong><br><br><%= message.date_at %></p>
                </div>

              </div>

            </div>
          </div>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
