<div class="card" style="width: 18rem;">
  <div class="card-body text-white">
    <p><%= @message.from %></p>
    <p><%= @message.snippet %></p>

    <%= simple_form_for [@message, @label] do |f| %>
      <%= f.input :name %>
      <%= f.button :submit %>
    <% end %>

    <% @message.labels.each do |label| %>
      <div class="d-flex justify-content-between">
        <%= label.name %>
          <div>
            <%= link_to image_tag("https://cdn3.iconfinder.com/data/icons/modifier-starter/48/v-06-512.png", width: 30), edit_message_label_path(@message, label)%>
            <%= link_to image_tag("https://cdn3.iconfinder.com/data/icons/modifier-starter/48/v-05-512.png", width: 30), label_path(label), method: :delete %>
          </div>
      </div>
    <% end %>
  </div>
</div>
