<div id='shader'></div>

<div class="container">

  <!-- Bouton sync -->


<%= link_to sync_messages_path(current_user), method: :post, remote: true,:class => 'sync-button-link' do %>
  <div class='button-container'>
    <div class="sync-button-card">
      <i class="fas fa-sync-alt"></i>
      <div class= "sync-button-text">
        Synchronize my gmail
      </div>
    </div>
  </div>
<% end %>


  <!-- Cards -->
  <div class="cards-container mx-auto">
    <% @biggest_senders.each do |domain| %>
      <% domain_name = domain["domain"] %>
      <% total = domain["total"] %>
      <% total_no_read = domain["total_no_read"] %>
      <%= link_to messages_path(sender_domain: domain_name) do %>
          <div class="main-cards mx-auto">

          <div class="priority">
            <%= priority_icon(domain) %>
          </div>

          <div class="main-cards-sender row">
            <h1><%= domain_name %></h1>
          </div>

          <div class="main-cards-details d-flex row mx-auto w-100">
            <div class="mail-count d-flex justify-content-around col-6">
              <i class="far fa-envelope fa-4x mx-auto"></i>
              <div class="received-count d-flex mx-auto mr-3">
                <div class="unread-number">
                  <%= total %>
                </div>
                <div class="unread-text ml-2">
                  <p>RECEIVED<br>MAILS</p>
                </div>
              </div>

          </div>
            <div class="read-count d-flex justify-content-around col-6">
                <i class="far fa-eye fa-4x mx-auto"></i>
                <div class="read-count d-flex mx-auto">
                  <div class="read-number">
                    <%= total_no_read %>
                  </div>
                  <div class="read-text ml-2">
                    <p>UNREAD<br>MAILS</p>

                  </div>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
